{% extends "base.html" %}

{% block title %}
    Main Page
{% endblock title%}

{% block container %}
    <h2>Приветствую вас на нашем супер-сайте!</h2>
    <p>Здесь вы можете узнать абсолютно несочетаемую ересь, но как написано в шапке -
       это пробная вёрстка с помощью Flask. Так что располагайтесь и наслаждайтесь ;)
    </p>
    <p>Что вы можете тут найти:</p>
    <ul>
    {% for string in propose %}
        <li>{{ string }}</li>
    {% endfor %}
    </ul>
    <p>Если вы до сих пор ещё здесь и упорно продолжаете вчитываться, значит вам точно стоит опробовать местный
       функционал, прокликав по ссылкам, в меню. После дивно проведённого времени тут, обратитесь за консультацией
       к специалистам психического здоровья.
    </p>
    <h2>Желаю приятно провести время. Заходите ещё ;)</h2>
{% endblock container %}